# Default ignored files
/../../Simplify Propositional Logic Formulas./.idea/shelf/
/../../Simplify Propositional Logic Formulas./.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Simplify Propositional Logic Formulas./.idea/httpRequests/
# Ignored default folder with query files
/../../Simplify Propositional Logic Formulas./.idea/queries/
# Datasource local storage ignored files
/../../Simplify Propositional Logic Formulas./.idea/dataSources/
/../../Simplify Propositional Logic Formulas./.idea/dataSources.local.xml
